html,
body{
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    */
    margin: 0px;
    height: 100%;
    animation: pulse 10s infinite;
    -webkit-animation: pulse 10s infinite;
}
  
@keyframes pulse{
    0% {
      background-color: #001F3F;
    }
    25%{
        background-color: darkturquoise;
    }
    50%{
        background-color: darkslateblue;
    }
    75%{
        background-color: violet;
    }
    100% {
      background-color: darkslategray;
    }
} 

.container{
    width: 25%;
    height: 350px;
    margin:auto;
    margin-top:100px;
    /* margin: 100px 33%; */
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    border-style: ridge;
    min-width: 300.25px;
    max-width: 300px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.anim-container{
    position: absolute;
    top: 5%;
    left: 40%;
    width: 10%;
    margin: auto;
    text-align: center;
}

.display{
    overflow: hidden;
    margin: 3px 0.8%;
    background-color: aliceblue;
    height: 18%;
    width: 97%; 
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    font-size: 20px;
    max-width: 100%;
    border-style: hidden;
}

.keys{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 79%;
    margin: 2px 2px 5px 2px;
    padding: 0px;
    flex-basis:fill;
    /* overflow: hidden; */
}

.btn{  
    border-radius: 0.2em;
    height: 15%;
    width: 70px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    list-style: none;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    margin: auto;
    text-align: center;
    font: small-caps bold 24px/1 MS Gothic
    ;
}


.animation{
    text-align: center;
    animation: 
    anim
    1.5s
    ease-out
    0s
    alternate;
}
@keyframes anim{
    0%{
        background-color: yellow;
        border-radius: 2em;
        transform: scale(1.1);
        opacity: 0.4;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        -o-border-radius: 2em;
}
    80%{
        
        transform: scale(6);
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}

.ac,.sin,.cos,.sqrt,.decimal,
.operator{
    background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    
}