html,
body{
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
    margin: 0px;
    height: 100%;  
    animation: pulse 5s infinite;  
}
  
@keyframes pulse{
    0% {
      background-color: #001F3F;
    }
    50%{
        background-color: darkslateblue;
    }
    100% {
      background-color: darkslategray;
    }
} 

.container{
    width: 25%;
    height: 500px;
    margin: 100px 33%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    border-style: ridge;
    /* position: relative; */
    /* display: flex;
    flex-wrap: wrap; */
    min-width: 300.25px;
    max-width: 300px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.display{
    overflow: hidden;
    margin: 3px 0.8%;
    background-color: aliceblue;
    height: 18%;
    width: 97%; 
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    font-size: 20px;
    max-width: 100%;
    border-style: hidden;
}

.keys{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 80%;

    margin: 5px 0.1em;
    padding: 0px;
    flex-basis:fill;
    /* overflow: hidden; */
}

.btn{
    
    border-radius: 0.2em;
    height: 15%;
    width: 70px;
    background-color: aliceblue;
    list-style: none;
    /*margin:0.2px;
    *//*border: ;
    border-style: ;
    */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    padding: 0.2px;
    text-align: center;
    font: small-caps bold 24px/1 sans-serif;
}
